{% extends 'base.html'%}
{% block content %}

      <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our website</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">

<p align="justify">
                        <br/><br/>
     Your Bishkek Gateway to Literary Worlds:
In the heart of Bishkek, we're not just a bookstore, we're a bibliophile's haven. Whether you're a Kyrgyz literature enthusiast, a manga devotee, or a curious explorer of languages, we open doors to stories waiting to be unfurled.
<br/><br/>
    Treasure Trove of New & Used:
Dive into our shelves brimming with new releases and pre-loved gems. From Kyrgyz classics to English tales, find your next page-turner in pristine condition or with charmingly worn edges whispering of past adventures. We believe every book holds a unique magic, and we're passionate about sharing it with you.
<br/><br/>
    A Tapestry of Tongues:
Our world extends beyond borders. We embrace the rich tapestry of languages spoken in our region, offering books in Kyrgyz, Russian, English, Turkish, and everything in between. Discover new voices, broaden your horizons, and let words paint worlds beyond your own.
<br/><br/>
    More Than Just Pages:
We're more than just an online marketplace. We're a community where bookworms connect, share recommendations, and celebrate the transformative power of stories. Join our vibrant online space, attend book club discussions, or simply browse our curated collections – there's a space for every reader here.
Step into our virtual bookshop, dear friend, and let your literary journey begin.
<br/><br/>
    More Than Just Pages:
We're more than just an online marketplace. We're a community where bookworms connect, share recommendations, and celebrate the transformative power of stories. Join our vibrant online space, attend book club discussions, or simply browse our curated collections – there's a space for every reader here.
Step into our virtual bookshop, dear friend, and let your literary journey begin.
</p>
<br/><br/>

                    </div>
                </center>
            </div>
        </div>

{% endblock %}